In [144]:
import sqlite3
import pandas as pd
import random
import string

In [145]:
def date_of_birth():
    ano = random.randint(1960, 1993)
    mes = random.randint(1,12)
    dia = random.randint(1,30)
    date = f"{ano}-{mes}-{dia}"
    return date

In [146]:
date_of_birth()

'1962-4-19'

In [147]:
def middle_initial():
    letter = random.choice(string.ascii_letters).upper()
    return letter

In [ ]:
middle_initial()

In [149]:
con = sqlite3.connect('data/universidade.db')

In [150]:
cur = con.cursor()

In [215]:
def next_id():
    count = cur.execute("SELECT COUNT(*) FROM person")
    amount = count.fetchall()
    last = amount[0][0]
    next_id = last+1
    return next_id

In [216]:
next_id()

1121

In [153]:
teachers = []

In [154]:
for row in cur.execute("SELECT courseid, teacher FROM course"):
    teachers.append(row[1])

In [155]:
teachers_splited = []

In [156]:
for linha in teachers:
    teachers_splited.append(linha.split())

In [200]:
def first_name(var):
    return teachers_splited[var][0]

In [201]:
def last_name(var):
    return teachers_splited[var][1]

In [ ]:
i = 0
for x in teachers_splited:
    first_name(i)
    last_name(i)
    i += 1

In [202]:
i=0
print(f"{next_id()}, {date_of_birth()}, {first_name(i)}, {last_name(i)}")

1061, 1960-5-18, Kellen, Horton

In [203]:
def query(i):
    sqlite_insert_query = f"""INSERT INTO person VALUES ('{next_id()}', '{first_name(i)}', '{middle_initial()}', '{last_name(i)}', '{date_of_birth()}')"""
    return sqlite_insert_query

In [209]:
i=0
for nome in teachers_splited:
    count = cur.execute(query(i))
    con.commit()
    i+=1

In [ ]:
cur.execute('SELECT * FROM person')
cur.fetchall()