In [55]:
import sqlite3
import pandas as pd

In [56]:
conn = sqlite3.connect('data/movie_database.db')

In [57]:
cur = conn.cursor()

In [59]:
res = cur.execute("SELECT name FROM directors")

In [ ]:
res.fetchall()

In [66]:
lista = []

In [67]:
for row in cur.execute("SELECT id, name FROM directors"):
    print(row)
    lista.append(row[1])

(1, 'Francis Ford Coppola')
(2, 'Frank Darabont')
(3, 'Steven Spielberg')
(4, 'Martin Scorsese')
(5, 'Milos Forman')
(6, 'James Cameron')
(7, 'Robert Zemeckis')
(8, 'George Lucas')
(9, 'Francis Coppola')
(10, 'Ridley Scott')
(11, 'Christopher Nolan')
(12, 'David Fincher')
(13, 'Andy Wachowski')
(14, 'Andrew Stanton')
(15, 'Lee Unkrich')
(16, 'Quentin Tarantino')
(17, 'Mel Gibson')
(18, 'Michael Mann')
(19, 'Gus Van Sant')
(20, 'John Lasseter')
(21, 'Brian De Palma')
(22, 'Clint Eastwood')
(23, 'Joel Coen')
(24, 'Danny Boyle')
(25, 'Ron Howard')
(26, 'Oliver Stone')
(27, 'Frank Miller')
(28, 'Joss Whedon')
(29, 'Richard Kelly')
(30, 'Terry Gilliam')
(31, 'Tom Hooper')
(32, 'Peter Weir')

In [ ]:
lista