In [1]:
import sqlite3
import random
import string

In [2]:
def date_of_birth():
    year = random.randint(1960, 1993)
    month = random.randint(1,12)
    day = random.randint(1,30)
    date = f"{year}-{month}-{day}"
    return date

In [3]:
def middle_initial():
    letter = random.choice(string.ascii_letters).upper()
    return letter

In [4]:
con = sqlite3.connect('../data/universidade.db')
cur = con.cursor()

In [7]:
def next_id():
    count = cur.execute("SELECT COUNT(*) FROM person")
    amount = count.fetchall()
    last = amount[0][0]
    next_id = last+1
    return next_id

In [9]:
teachers = []
for row in cur.execute("SELECT courseid, teacher FROM course"):
    teachers.append(row[1])

In [10]:
teachers_splited = []
for linha in teachers:
    teachers_splited.append(linha.split())

In [12]:
def first_name(var):
    return teachers_splited[var][0]

In [13]:
def last_name(var):
    return teachers_splited[var][1]

In [14]:
def query(i):
    sqlite_insert_query = f"""INSERT INTO person VALUES ('{next_id()}', '{first_name(i)}', '{middle_initial()}', '{last_name(i)}', '{date_of_birth()}')"""
    return sqlite_insert_query

In [19]:
i=0
for nome in teachers_splited:
    count = cur.execute(query(i))
    con.commit()
    i+=1

In [20]:
cur.execute('SELECT COUNT(*) FROM person')
cur.fetchall()

[(1030,)]

In [ ]:
cur.execute('SELECT * FROM person WHERE personid=1015')
cur.fetchall()