In [2]:
import sqlite3
import random
import string
import re

In [3]:
def date_of_birth():
    year = random.randint(1960, 1993)
    month = random.randint(1,12)
    day = random.randint(1,30)
    date = f"{year}-{month}-{day}"
    return date

In [4]:
def middle_initial():
    letter = random.choice(string.ascii_letters).upper()
    return letter

In [5]:
def doc_number():
    doc = f"""{random.randint(1,10)}{random.choice(string.ascii_letters).upper()}{random.choice(string.ascii_letters).upper()}{random.randint(1,10)}{random.randint(1,10)}{random.choice(string.ascii_letters).upper()}{random.choice(string.ascii_letters).upper()}{random.choice(string.ascii_letters).upper()}{random.randint(1,10)}"""
    return doc

In [63]:
con = sqlite3.connect('../data/universidade.db')
cur = con.cursor()

In [7]:
def next_id():
    count = cur.execute("SELECT COUNT(*) FROM person")
    amount = count.fetchall()
    last = amount[0][0]
    next_id = last+1
    return next_id

In [8]:
next_id()

1031

In [9]:
def next_id_teacher():
    count = cur.execute("SELECT COUNT(*) FROM teacher")
    amount = count.fetchall()
    last = amount[0][0]
    next_id = last+1
    return next_id

In [12]:
next_id_teacher()

31

In [34]:
teachers = []

In [35]:
for row in cur.execute("SELECT courseid, teacher FROM course"):
    teachers.append(row[1])

In [36]:
teachers_splited = []
for linha in teachers:
    teachers_splited.append(linha.split())

In [16]:
def first_name(var):
    return teachers_splited[var][0]

In [17]:
def last_name(var):
    return teachers_splited[var][1]

In [161]:
def query(i):
    sqlite_insert_query = f"""INSERT INTO person VALUES ('{next_id()}', '{first_name(i)}', '{middle_initial()}', '{last_name(i)}', '{date_of_birth()}')"""
    return sqlite_insert_query

In [162]:
i=0
for nome in teachers_splited:
    count = cur.execute(query(i))
    con.commit()
    i+=1

In [37]:
cur.execute('SELECT COUNT(*) FROM person')
cur.fetchall()

[(1030,)]

In [38]:
cur.execute('SELECT * FROM person WHERE personid=1001')
cur.fetchall()

[(1001, 'Kellen', 'I', 'Horton', '1965-10-20')]

In [165]:
cur.execute("DELETE FROM person WHERE personid>1030")

In [39]:
for row in cur.execute(f"SELECT * FROM person"):
        i=0
        for row in cur.execute(f"SELECT * FROM person WHERE firstname='{teachers_splited[i][0]}'"):
            print(row)
            i+=1

(679, 'Kellen', 'L', 'White', '1987-06-25')
(1001, 'Kellen', 'I', 'Horton', '1965-10-20')

In [40]:
i=0
for row in cur.execute(f"SELECT * FROM person WHERE firstname='{teachers_splited[i][0]}'"):
    i+=1
    print(row)

(679, 'Kellen', 'L', 'White', '1987-06-25')
(1001, 'Kellen', 'I', 'Horton', '1965-10-20')

In [41]:
persons = []
for row in cur.execute("SELECT personid, firstname, lastname FROM person"):
    persons.append(row)

In [42]:
len(persons)

1030

In [ ]:
for firstname in persons:
    for name in teachers_splited:
        if firstname[1] == name[0] and firstname[2] == name[1]:
            print(f"{firstname[0]}, {name[0]}, {name[1]}")
            query_teacher = f"""INSERT INTO teacher VALUES ('{next_id_teacher()}', '{firstname[0]}', '{doc_number()}')"""
            count = cur.execute(query_teacher)
            con.commit()

In [ ]:
cur.execute("SELECT * FROM teacher")
cur.fetchall()

In [30]:
cur.execute("SELECT COUNT(*) FROM person")
cur.fetchall()

[(1030,)]

In [65]:
cur.execute("SELECT COUNT(*) FROM teacher")
cur.fetchall()

[(30,)]

In [58]:
con.close()

In [61]:
cur.execute("DELETE FROM teacher WHERE teacherid>30")
con.commit()